# Build Artifacts
degringo5e.css
degringo5e.css.map
degringo5e-compiled*
degringo5e.lock
packs/*
!packs/_source/

# IDE
.idea/
.nova/
.vs/
.vscode/
*.code-workspace
*.iml
*.swp

# Node Modules
node_modules/

# OS Specific
.DS_Store
