<div>
    {{ formField fields.onSave name=(concat prefix "onSave") value=data.onSave localize=true
                 label="DEGRINGO5E.SAVE.FIELDS.effects.onSave.label" hint="DEGRINGO5E.SAVE.FIELDS.effects.onSave.hint"
                 input=@root.inputs.createCheckboxInput }}
</div>
