<section>
    {{~#if hasCreation}}
    <fieldset>
        <legend>{{ localize "DEGRINGO5E.USAGE.SECTION.Creation" }}</legend>
        {{#if template}}
            {{ formField template.field name=template.name value=template.value input=inputs.createCheckboxInput }}
        {{/if}}
    </fieldset>
    {{> "degringo5e.activity-usage-notes" }}
    {{/if~}}
</section>
