<div class="degringo5e2 chat-card rest-card">
    {{{ content }}}

    {{#if actor}}

    {{!-- Deltas --}}
    {{#if deltas.length}}{{> "degringo5e.card-deltas" }}{{/if}}

    {{!-- Actions --}}
    {{#if activities.length}}{{> "degringo5e.card-activities" }}{{/if}}

    {{/if}}
</div>
