<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "degringo5e.actor-classes" }}
    {{> "systems/degringo5e/templates/inventory/inventory.hbs" }}
</section>
